
<%= form_for(@product_type, html: {class: "form-horizontal"}) do |f| %>
  <% if @product_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_type.errors.count, "error") %> prohibited this product_type from being saved:</h2>

      <ul>
      <% @product_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
      <%= f.hidden_field :created_by, :value => current_admin.id %>
    <% else %>
      <%= f.hidden_field :updated_by, :value => current_admin.id %>
    <% end %>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Name
    </label>
    <div class="col-sm-7">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter name ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Description
    </label>
    <div class="col-sm-7">
      <%= f.text_area :description, class: "form-control", placeholder: "Enter description .." %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Price
    </label>
    <div class="col-sm-7">
      <%= f.text_field :price, class: 'form-control', placeholder: 'Enter price ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Cost
    </label>
    <div class="col-sm-7">
      <%= f.text_field :cost, class: 'form-control', placeholder: 'Enter cost ..' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Weight (in kg)
    </label>
    <div class="col-sm-7">
      <% if @product_type.weight %>
        <%= f.text_field :weight, value: @product_type.weight/1000, class: 'form-control', placeholder: 'Enter weight (in kg) ..' %>
      <% else %>
        <%= f.text_field :weight, class: 'form-control', placeholder: 'Enter weight (in kg) ..' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Length (in cm)
    </label>
    <div class="col-sm-7">
      <%= f.text_field :length, class: 'form-control', placeholder: 'Enter length (in cm) ..' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Width (in cm)
    </label>
    <div class="col-sm-7">
      <%= f.text_field :width, class: 'form-control', placeholder: 'Enter width (in cm) ..' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Height (in cm)
    </label>
    <div class="col-sm-7">
      <%= f.text_field :height, class: 'form-control', placeholder: 'Enter height (in cm) ..' %>
    </div>
  </div>

  <button type="submit" class="btn btn-o btn-primary">
    Submit
  </button>
<% end %>

<%= content_for :css do %>
  
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
    
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    <script src="/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>

    <script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/vendor/autosize/autosize.min.js"></script>
    <script src="/vendor/selectFx/classie.js"></script>
    <script src="/vendor/selectFx/selectFx.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
  
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/form-validation.js"></script>
    <script src="/assets/js/form-elements.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        FormValidator.init();
        FormElements.init();
      });
    </script>
<% end %>
