  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Product Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail product_type</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Product View</span>
          </li>
          <li class="active">
            <span>View Product</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Product</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td><%= @product_type.name %></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td><%= @product_type.description %></td>
                      </tr>
                      <tr>
                        <td>Price</td>
                        <td><%= number_to_currency @product_type.price, unit: "Rp", precision: 0 %></td>
                      </tr>
                      <tr>
                        <td>Cost</td>
                        <td><%= number_to_currency @product_type.cost, unit: "Rp", precision: 0 %></td>
                      </tr>
                      <tr>
                        <td>Profit</td>
                        <td><%= number_to_currency @product_type.profit, unit: "Rp", precision: 0 %></td>
                      </tr>
                      <tr>
                        <td>Weight</td>
                        <td><%= @product_type.weight %> gram</td>
                      </tr>
                      <tr>
                        <td>Length</td>
                        <td><%= @product_type.length %> cm</td>
                      </tr>
                      <tr>
                        <td>Width</td>
                        <td><%= @product_type.width %> cm</td>
                      </tr>
                      <tr>
                        <td>Height</td>
                        <td><%= @product_type.height %> cm</td>
                      </tr>
                      <tr>
                        <td>Final Weight</td>
                        <td><%= @product_type.courier_weight %> gram</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
                <div class="col-md-12 space20">
                  <a href="/product_types/<%= params[:id] %>/edit" class="btn btn-warning">
                    Edit <i class="fa fa-edit"></i>
                  </a>
                  <a href="/product_types" class="btn btn-info">
                    Back <i class="fa fa-reply"></i>
                  </a>
                   <a href="/products/new?product_type_id=<%= @product_type.id %>" class="btn btn-green">
                    Add New <i class="fa fa-plus"></i>
                  </a>
                </div>
            </div>
    </div>
    <!-- end: BASIC EXAMPLE -->
  </div>

  <%= content_for :css do %>
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
  <% end %>

  <%= content_for :js do %>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/table-data.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        TableData.init();
      });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
  <% end %>