<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle">DELIVERY ORDER LIST</h1>
        <span class="mainDescription">Halaman untuk menampilkan daftar Delivery Order</span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span>Dashboard</span>
        </li>
        <li class="active">
          <span>Delivery Order List</span>
        </li>
      </ol>
    </div>
  </section>
  <p id="notice"><%= notice %></p>
  <!-- end: PAGE TITLE -->
  <!-- start: DYNAMIC TABLE -->
  <div class="container-fluid container-fullw">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Delivery Order</span></h5>
        <div class="row">
          <div class="col-md-12 space20">
            <a href="/delivery_orders/new" class="btn btn-green">
              Add New <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
            <thead>
              <tr>
                <th>DO Number</th>
                <th>DO Date</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @delivery_orders.each do |delivery_order| %>
                <tr>
                  <td><%= link_to delivery_order.do_number, delivery_order_path(delivery_order) %></td>
                  <td><%= delivery_order.do_date ? delivery_order.do_date.strftime("%d-%m-%Y") : "N/A" %></td>
                  <td><%= delivery_order.quantity %></td>
                  <td>
                    <%= link_to edit_delivery_order_path(delivery_order) do %>
                      <i class="fa fa-edit"></i>
                    <% end %>

                    <%= link_to delivery_order_path(delivery_order), method: :delete, data: {confirm: "are you sure?"} do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :css do %>
  <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
  <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
  <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
  <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
  <script src="/vendor/select2/select2.min.js"></script>
  <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
  <!-- start: JavaScript Event Handlers for this page -->
  <script src="/assets/js/table-data.js"></script>
  <script>
    jQuery(document).ready(function() {
      Main.init();
      TableData.init();
    });
  </script>
  <!-- end: JavaScript Event Handlers for this page -->
<% end %>
