<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle">DELIVERY ORDER DETAIL</h1>
        <span class="mainDescription">Halaman untuk melihat detail Delivery Order</span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span>Delivery Order View</span>
        </li>
        <li class="active">
          <span>View Delivery Order</span>
        </li>
      </ol>
    </div>
  </section>
  <!-- end: PAGE TITLE -->
  <!-- start: BASIC EXAMPLE -->
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="panel panel-white">
              <div class="panel-heading">
                <h5 class="panel-title">Detail Delivery Order</h5>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>DO Number</td>
                      <td><%= @delivery_order.do_number %></td>
                    </tr>
                    <tr>
                      <td>DO Date</td>
                      <td><%= @delivery_order.do_date.strftime('%d/%m/%Y') %></td>
                    </tr>
                    <tr>
                      <td>Value</td>
                      <td><%= @delivery_order.quantity %></td>
                    </tr>                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 space20">
          <a href="/delivery_orders/<%= params[:id] %>/edit" class="btn btn-warning">
            Edit <i class="fa fa-edit"></i>
          </a>
          <a href="/delivery_orders" class="btn btn-info">
            Back <i class="fa fa-reply"></i>
          </a>
        </div>
    </div>
  </div>
  <!-- end: BASIC EXAMPLE -->
</div>

<%= content_for :css do %>
  <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
  <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
  <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
  <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
  <script src="/vendor/select2/select2.min.js"></script>
  <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
  <!-- start: JavaScript Event Handlers for this page -->
  <script src="/assets/js/table-data.js"></script>
  <script>
    jQuery(document).ready(function() {
      Main.init();
      TableData.init();
    });
  </script>
  <!-- end: JavaScript Event Handlers for this page -->
<% end %>