<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-login'}) do |f| %>
  <div class="form-group">
      <%= f.text_field :username, :class => 'form-control', placeholder: "your username .." %>
  </div>
  <div class="form-group">
      <%= f.password_field :password, :class => 'form-control passwor', placeholder: "your pasword .." %>
  </div>
  <div class="form-group">
      <a href="javascript: void(0);" class="pull-right">Forgot Password?</a>
      <div class="checkbox">
          <label>
              <input type="checkbox" name="example6" checked>
              Remember me
          </label>
      </div>
  </div>
  <div class="form-actions">
      <button type="submit" class="btn btn-primary width-150">Sign In</button>
  </div>
<% end %>