          <div class="wrap-content container" id="container">
            <!-- start: PAGE TITLE -->
            <section id="page-title">
              <div class="row">
                <div class="col-sm-8">
                  <h1 class="mainTitle">BARCODE LIST</h1>
                  <span class="mainDescription">Halaman untuk menampilkan daftar barcode</span>
                </div>
                <ol class="breadcrumb">
                  <li>
                    <span>Dashboard</span>
                  </li>
                  <li class="active">
                    <span>Barcode List</span>
                  </li>
                </ol>
              </div>
            </section>
            <p id="notice"><%= notice %></p>
            <!-- end: PAGE TITLE -->
            <!-- start: DYNAMIC TABLE -->
            <div class="container-fluid container-fullw">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Barcode</span></h5>
                  <div class="row">
                    <div class="col-md-12 space20">
                      <a href="/barcodes/new" class="btn btn-green">
                        Add New <i class="fa fa-plus"></i>
                      </a>
                    </div>
                  </div>
               <!--     <div class="row">
                    <div class="col-md-12 space20">

                      <a href="/user_excels/new" class="btn btn-blue">
                        Import <i class="fa fa-plus"></i>
                      </a>
                      
                    </div>
                  </div> -->
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
                      <thead>
                        <tr>
                          <th>Product Type Id</th>
                          <th>Barcode Number</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @barcodes.each do |barcode| %>
                          <tr>
                            <td><%= link_to barcode.product_type_id, barcode_path(barcode) %></td>
                            <td><%= barcode.barcode_number %></td>
                            <td>
                              <%= link_to edit_barcode_path(barcode) do %>
                                <i class="fa fa-edit"></i>
                              <% end %>

                              <%= link_to barcode_path(barcode), method: :delete, data: {confirm: "are you sure?"} do %>
                                <i class="fa fa-trash"></i>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= content_for :css do %>
            <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
            <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
            <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
          <% end %>

          <%= content_for :js do %>
            <script src="/vendor/select2/select2.min.js"></script>
            <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
            <!-- start: JavaScript Event Handlers for this page -->
            <script src="/assets/js/table-data.js"></script>
            <script>
              jQuery(document).ready(function() {
                Main.init();
                TableData.init();
              });
            </script>
            <!-- end: JavaScript Event Handlers for this page -->
          <% end %>
