<div class="wrap-content container" id="container">
    <!-- start: DASHBOARD TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="mainTitle">Dashboard</h1>
                <span class="mainDescription">overview &amp; stats </span>
            </div>
            <div class="col-sm-5">
                <!-- start: MINI STATS WITH SPARKLINE -->
                <ul class="mini-stats pull-right">
                    
                </ul>
                <!-- end: MINI STATS WITH SPARKLINE -->
            </div>
        </div>
    </section>
    <!-- end: DASHBOARD TITLE -->
    <!-- start: FEATURED BOX LINKS -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            
        </div>
        
    </div>
</div>

<%= content_for :js do %>
<script src="assets/js/index.js"></script>
<script>
  jQuery(document).ready(function() {
    Main.init();
    Index.init();
  });
</script>
<!-- end: JavaScript Event Handlers for this page -->
<% end %>