<div class="wrap-content container" id="container">
	<!-- start: PAGE TITLE -->
	<section id="page-title">
<div class="row">
<div class="col-sm-8">
	<h1 class="mainTitle">Form Tambah Warehouse Status</h1>
	<span class="mainDescription">Form untuk menambah data Warehouse Status yang baru</span>
</div>
<ol class="breadcrumb">
	<li>
		<span>Warehouse Status Forms</span>
	</li>
	<li class="active">
		<span>Form Warehouse Status</span>
	</li>
</ol>
</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw bg-white">
<div class="row">
<div class="col-md-12">
	<div class="row">
		<div class="col-lg-8 col-md-12">
			<div class="panel panel-white">
				<div class="panel-heading">
					<h5 class="panel-title">Form Tambah</h5>
				</div>
				<div class="panel-body">
					<%= render "form" %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row">
<a href="/warehouse_statuses" class="btn btn-info">
  Back <i class="fa fa-reply"></i>
</a>
</div>
</div>
<!-- end: BASIC EXAMPLE -->
</div>
