<script type="text/javascript">
  $(function(){
    $("form").submit(function(){

          if ($("#product_name").val() == "") {
              alert ("Name must be filled");
              return false;
          } else if ($("#product_stock").val() == "") {
              alert ("Stock must be filled");
              return false;
          } else if ($("#product_available").val() == "") {
              alert ("Available must be filled");
              return false;
          } else if ($("#product_stock").val() == "") {
              alert ("Stock must be filled");
              return false;
          } else {

            return confirm("Anda yakin data yang dimasukkan sudah benar ?");
          }
    });
  });
</script>

<%= nested_form_for(@product, html: {class: "form-horizontal"}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
      <%= f.hidden_field :created_by, :value => current_admin.id %>
    <% else %>
      <%= f.hidden_field :updated_by, :value => current_admin.id %>
    <% end %>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Name
    </label>
    <div class="col-sm-7">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter product name ..' %>
    </div>
  </div>

  <% if params[:action] == "new" || params[:action] == "create" %>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="idfield">Price Status</label>
        <div class="col-sm-7">
          <div class="clip-radio radio-primary">
            <%= f.radio_button :price_status, 1, checked: (@product.price_status == 1 || @product.price_status == nil) %>
            <label for="product_price_status_1">
              Same With Product
            </label>
            <%= f.radio_button :price_status, 0, checked: (@product.price_status == 0) %>
            <label for="product_price_status_0">
              New Price
            </label>
          </div>
        </div>
    </div>
  <% end %>

  <% if params[:action] == "new" || params[:action] == "create" %>
    <div class="form-group price">
      <label class="col-sm-3 control-label">
        Price
      </label>
      <div class="col-sm-7">
        <%= f.text_field :price, class: 'form-control', placeholder: 'Enter product price ..' %>
      </div>
    </div>
  
    <div class="form-group price">
      <label class="col-sm-3 control-label">
        Cost
      </label>
      <div class="col-sm-7">
        <%= f.text_field :cost, class: 'form-control', placeholder: 'Enter product cost ..' %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <label class="col-sm-3 control-label">
        Price
      </label>
      <div class="col-sm-7">
        <%= f.text_field :price, class: 'form-control', placeholder: 'Enter product price ..' %>
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-3 control-label">
        Cost
      </label>
      <div class="col-sm-7">
        <%= f.text_field :cost, class: 'form-control', placeholder: 'Enter product cost ..' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Stock
    </label>
    <div class="col-sm-7">
      <%= f.text_field :stock, class: 'form-control', placeholder: 'Enter stock ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Available
    </label>
    <div class="col-sm-7">
      <%= f.text_field :available, class: 'form-control', placeholder: 'Enter available ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Size
    </label>
    <div class="col-sm-7">
      <%= f.text_field :size, class: 'form-control', placeholder: 'Enter size ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Color
    </label>
    <div class="col-sm-7">
      <%= f.text_field :color, class: 'form-control', placeholder: 'Enter color ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Description
    </label>
    <div class="col-sm-7">
      <%= f.text_area :description, class: 'form-control', placeholder: 'Enter description ..' %>
    </div>
  </div>

  <% if params[:product_type_id] == nil && (params[:action] == "new" || params[:action] == "create") %>
   <div class="form-group">
    <label class="col-sm-3 control-label">
      Product Type
    </label>
    <div class="col-sm-7">
    <%= f.select :product_type_id, options_from_collection_for_select(@product_types, "id", "name", @product.product_type_id), {include_blank: "-- Product --", multiple: true}, {class: "js-example-placeholder-single js-states form-control"} %>
    </div>
   </div>
  <% else %>
    <%= f.hidden_field :product_type_id, :value => params[:product_type_id] %>
  <% end %>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Image
    </label>
    <div class="col-sm-7">
      <%= f.file_field :attachment, class: 'form-control' %>
    </div>
  </div> 

  <button type="submit" class="btn btn-o btn-primary">
    Submit
  </button>
<% end %>

<%= content_for :css do %>
  
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
    
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    <script src="/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>

    <script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/vendor/autosize/autosize.min.js"></script>
    <script src="/vendor/selectFx/classie.js"></script>
    <script src="/vendor/selectFx/selectFx.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
  
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/form-validation.js"></script>
    <script src="/assets/js/form-elements.js"></script>
    
    <%= javascript_include_tag "nested_form" %>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        FormValidator.init();
        FormElements.init();
      });
    </script>
<% end %>
