          <div class="wrap-content container" id="container">
            <!-- start: PAGE TITLE -->
            <section id="page-title">
              <div class="row">
                <div class="col-sm-8">
                  <h1 class="mainTitle">PRODUCT LIST</h1>
                  <span class="mainDescription">Halaman untuk menampilkan daftar Product</span>
                </div>
                <ol class="breadcrumb">
                  <li>
                    <span>Dashboard</span>
                  </li>
                  <li class="active">
                    <span>Product List</span>
                  </li>
                </ol>
              </div>
            </section>
            <!-- end: PAGE TITLE -->
            <!-- start: DYNAMIC TABLE -->
            <div class="container-fluid container-fullw">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Products</span></h5>
                  <div class="row">
                    <div class="col-md-12 space20">
                      <a href="/products/new" class="btn btn-green">
                        Add New <i class="fa fa-plus"></i>
                      </a>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
                      <thead>
                        <tr>
                          <th>Variant Code</th>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Stock</th>
                          <th>Available</th>
                          <th>Product</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @products.each do |product| %>
                          <tr>
                            <td><%= link_to product.product_code, product_path(product) %></td>
                            <td><%= product.name %></td>
                            <td><%= number_to_currency product.price, unit: "Rp ", precision: 0 %></td>
                            <td><%= number_to_currency product.stock, unit: "", precision: 0 %></td>
                            <td><%= number_to_currency product.available, unit: "", precision: 0 %></td>
                            <td><%= product.product_type ? product.product_type.name : "N/A" %></td>
                            <td>
                              <%= link_to edit_product_path(product) do %>
                                <i class="fa fa-edit"></i>
                              <% end %>

                              <%= link_to product_path(product), method: :delete, data: {confirm: "are you sure?"} do %>
                                <i class="fa fa-trash"></i>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= content_for :css do %>
            <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
            <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
            <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
            <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
          <% end %>

          <%= content_for :js do %>
            <script src="/vendor/select2/select2.min.js"></script>
            <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
            <!-- start: JavaScript Event Handlers for this page -->
            <script src="/assets/js/table-data.js"></script>
            <script>
              jQuery(document).ready(function() {
                Main.init();
                TableData.init();
              });
            </script>
            <!-- end: JavaScript Event Handlers for this page -->
          <% end %>
