  
  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Variant Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail product</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Variant View</span>
          </li>
          <li class="active">
            <span>View Variant</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Variant</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Variant Code</td>
                        <td><%= @product.product_code %></td>
                      </tr>
                      <tr>
                        <td>Variant Name</td>
                        <td><%= @product.name %></td>
                      </tr>
                      <tr>
                        <td>Price</td>
                        <td><%= number_to_currency @product.price, unit: "Rp ", precision: 0 %></td>
                      </tr>
                      <tr>
                        <td>Cost</td>
                        <td><%= number_to_currency @product.cost, unit: "Rp ", precision: 0 %></td>
                      </tr>
                      <tr>
                        <td>Stock</td>
                        <td><%= number_to_currency @product.stock, unit: "", precision: 0 %> pcs</td>
                      </tr>
                      <tr>
                        <td>Available</td>
                        <td><%= number_to_currency @product.available, unit: "", precision: 0 %> pcs</td>
                      </tr>
                      <tr>
                        <td>Size</td>
                        <td><%= @product.size %></td>
                      </tr>
                      <tr>
                        <td>Color</td>
                        <td><%= @product.color %></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td><%= @product.description %></td>
                      </tr>
                      <tr>
                        <td>Product</td>
                        <td><%= @product.product_type ? @product.product_type.name : "N/A" %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
                <div class="col-md-12 space20">
                  <a href="/products/<%= params[:id] %>/edit" class="btn btn-warning">
                    Edit <i class="fa fa-edit"></i>
                  </a>
                  <a href="/product_types/<%= @product.product_type_id %>" class="btn btn-info">
                    Back <i class="fa fa-reply"></i>
                  </a>
                </div>
            </div>
    </div>
    <!-- end: BASIC EXAMPLE -->
  </div>

  <%= content_for :css do %>
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
  <% end %>

  <%= content_for :js do %>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/table-data.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        TableData.init();

        var oTable = $('#sample_courier').dataTable({
          "aoColumnDefs" : [{
            "aTargets" : [0]
          }],
          "oLanguage" : {
            "sLengthMenu" : "Show _MENU_ Rows",
            "sSearch" : "",
            "oPaginate" : {
              "sPrevious" : "",
              "sNext" : ""
            }
          },
          "aaSorting" : [[2, 'asc']],
          "aLengthMenu" : [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"] // change per page values here
          ],
          // set the initial value
          "iDisplayLength" : 10,
        });
        $('#sample_courier_wrapper .dataTables_filter input').addClass("form-control input-sm").attr("placeholder", "Search");
        // modify table search input
        $('#sample_courier_wrapper .dataTables_length select').addClass("m-wrap small");
        // modify table per page dropdown
        $('#sample_courier_wrapper .dataTables_length select').select2();
        // initialzie select2 dropdown
        $('#sample_courier_column_toggler input[type="checkbox"]').change(function() {
          /* Get the DataTables object again - this is not a recreation, just a get of the object */
          var iCol = parseInt($(this).attr("data-column"));
          var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
          oTable.fnSetColumnVis(iCol, ( bVis ? false : true));
        });
      });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
  <% end %>