  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Warehouse Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail warehouse</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Warehouse View</span>
          </li>
          <li class="active">
            <span>View Warehouse</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Warehouse</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td><%= @warehouse.name %></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td><%= @warehouse.description %></td>
                      </tr>
                      <tr>
                        <td>Lat</td>
                        <td><%= @warehouse.lat %></td>
                      </tr>
                      <tr>
                        <td>Long</td>
                        <td><%= @warehouse.long %></td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td><%= @warehouse.address %></td>
                      </tr>
                      <tr>
                        <td>State ID</td>
                        <td><%= @warehouse.state_id %></td>
                      </tr>
                      <tr>
                        <td>District ID</td>
                        <td><%= @warehouse.district_id %></td>
                      </tr>
                      <tr>
                        <td>Sub District ID</td>
                        <td><%= @warehouse.sub_district_id %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12 space20">
            <a href="/warehouses/<%= params[:id] %>/edit" class="btn btn-warning">
              Edit <i class="fa fa-edit"></i>
            </a>                
            <a href="/warehouses" class="btn btn-info">
              Back <i class="fa fa-reply"></i>
            </a>
          </div>
      </div>
    </div>
    <!-- end: BASIC EXAMPLE -->
  </div>

<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle">WAREHOUSE BIN LIST</h1>
        <span class="mainDescription">Halaman untuk menampilkan daftar warehouse bin</span>
      </div>
      <ol class="breadcrumb">
        <li>
          <span>Dashboard</span>
        </li>
        <li class="active">
          <span>Warehouse Bin List</span>
        </li>
      </ol>
    </div>
  </section>
  <p id="notice"><%= notice %></p>
  <!-- end: PAGE TITLE -->
  <!-- start: DYNAMIC TABLE -->
  <div class="container-fluid container-fullw">
    <div class="row">
      <div class="col-md-12">
        <h5 class="over-title margin-bottom-15">List of <span class="text-bold">Warehouse Bin</span></h5>
        <div class="row">
          <div class="col-md-12 space20">
            <a href="/warehouses/<%= @warehouse.id %>/warehouse_bins/new" class="btn btn-green">
              Add New <ID class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
            <thead>
              <tr>
                <th>Warehouse</th>
                <th>Bin Number</th>                  
                <th>Action</th>
              </tr>
            </thead>
             <tbody>
              <% @warehouse_bin.each do |warehouse_bin| %>
                <tr>
                  <td><%= link_to warehouse_bin.warehouse.name, warehouse_warehouse_bin_path(@warehouse.id,warehouse_bin) %></td>
                  <td><%= warehouse_bin.bin_number %></td>
                  <td>
                    <%= link_to edit_warehouse_warehouse_bin_path(@warehouse.id, warehouse_bin) do %>
                      <i class="fa fa-edit"></i>
                    <% end %>

                    <%= link_to warehouse_warehouse_bin_path(@warehouse.id, warehouse_bin), method: :delete, data: {confirm: "are you sure?"} do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


  <%= content_for :css do %>
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
  <% end %>

  <%= content_for :js do %>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/table-data.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        TableData.init();
      });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
  <% end %>
  
