<!DOCTYPE html>
<!-- Template Name: Mail Room - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>Aplikasi WIWAREHOUSE</title>
		<!-- start: META -->
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: GOOGLE FONTS -->
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
		<!-- end: GOOGLE FONTS -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/vendor/themify-icons/themify-icons.min.css">
		<link href="/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
		<link href="/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
		<link href="/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
		<!-- end: MAIN CSS -->
		<!-- start: CLIP-TWO CSS -->
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/plugins.css">

		<!-- end: CLIP-TWO CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<%= yield(:css) %>
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->

        <%= javascript_include_tag :application %>

        <%= csrf_meta_tag %>
	</head>
	<!-- end: HEAD -->
	<body>
		<div id="app">
			<!-- sidebar -->
			<div class="sidebar app-aside" id="sidebar">
				<div class="sidebar-container perfect-scrollbar">
					<nav>
						<!-- start: SEARCH FORM -->
						<div class="search-form">
							<a class="s-open" href="#">
								<i class="ti-search"></i>
							</a>
							<form class="navbar-form" role="search">
								<a class="s-remove" href="#" target=".navbar-form">
									<i class="ti-close"></i>
								</a>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search...">
									<button class="btn search-button" type="submit">
										<i class="ti-search"></i>
									</button>
								</div>
							</form>
						</div>
						<!-- end: SEARCH FORM -->
						<!-- start: MAIN NAVIGATION MENU -->
						<div class="navbar-title">
							<span>Main Navigation</span>
						</div>
						<ul class="main-navigation-menu">
					    	<li>
	                      	  	<a href="/homes">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-home"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Dashboard </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/orders">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-shopping-cart-full"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Transactions</span>
										</div>
									</div>
								</a>
								<!-- <ul class="sub-menu">
									<li>
										<a href="/orders">
											<span class="title">Orders</span>
										</a>
									</li>
									<li>
										<a href="/unpaid_orders">
											<span class="title">Unpaid Orders</span>
										</a>
									</li>
									<li>
										<a href="/order_items">
											<span class="title">Order Items</span>
										</a>
									</li>
									<li>
										<a href="/processed_orders">
											<span class="title">Purchasing Form</span>
										</a>
									</li>
									<li>
										<a href="/processeds">
											<span class="title">Processed Orders</span>
										</a>
									</li>
									<li>
										<a href="/purchased_orders">
											<span class="title">Purchased Orders</span>
										</a>
									</li>
									<li>
										<a href="/with_courier_orders">
											<span class="title">With Courier Orders</span>
										</a>
									</li>
									<li>
										<a href="/delivereds">
											<span class="title">Delivered Form</span>
										</a>
									</li>
									<li>
										<a href="/delivered_orders">
											<span class="title">Delivered Orders</span>
										</a>
									</li>
								</ul> -->
							</li>
							<li>
	                      	  	<a href="/customers">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-medall"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Customers </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/product_types">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-bag"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Products </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/processed_orders">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-bag"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Purchasing </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="/delivereds">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-bag"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Delivered Forms </span>
										</div>
									</div>
								</a>
							</li>
							<li>
	                      	  	<a href="/resellers">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-share-alt"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Resellers </span>
										</div>
									</div>
								</a>
							</li>
							<li>
	                      	  	<a href="/channel_orders">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-world"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Channel Orders </span>
										</div>
									</div>
								</a>
							</li>
							<li>
	                      	  	<a href="/vendors">
									<div class="item-content">
										<div class="item-media">
											<i class="ti-briefcase"></i>
										</div>
										<div class="item-inner">
											<span class="title"> Vendors </span>
										</div>
									</div>
								</a>
							</li>
							
						</ul>
						<!-- end: MAIN NAVIGATION MENU -->
					</nav>
				</div>
			</div>
			<!-- / sidebar -->
			<div class="app-content">
				<!-- start: TOP NAVBAR -->
				<header class="navbar navbar-default navbar-static-top">
					<!-- start: NAVBAR HEADER -->
					<div class="navbar-header">
						<a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
							<i class="ti-align-justify"></i>
						</a>
						<a class="navbar-brand" href="/">
							<img src="" width="30px" height="30px" alt="Wistock"/> 
						</a>
						<a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
							<i class="ti-align-justify"></i>
						</a>
						<a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="ti-view-grid"></i>
						</a>
					</div>
					<!-- end: NAVBAR HEADER -->
					<!-- start: NAVBAR COLLAPSE -->
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-right">
							<!-- start: USER OPTIONS DROPDOWN -->
							<li class="dropdown current-user">
								<a href class="dropdown-toggle" data-toggle="dropdown">
									<img src=""> <span class="username"><i class="ti-angle-down"></i></i></span>
								</a>
								<ul class="dropdown-menu dropdown-dark">
									<li>
										<a href="/my_accounts">
											My Profile
										</a>
									</li>
									<li>
										<a href="/users/sign_out" data-confirm="are you sure?" data-method="delete"> 
											Log Out
										</a>
									</li>
								</ul>
							</li>
							<!-- end: USER OPTIONS DROPDOWN -->
						</ul>
						<!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
						<div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
							<div class="arrow-left"></div>
							<div class="arrow-right"></div>
						</div>
						<!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
					</div>
					<!-- end: NAVBAR COLLAPSE -->
				</header>
				<!-- end: TOP NAVBAR -->
				<div class="main-content" >
					<%= yield %>
				</div>
			</div>
			<!-- start: FOOTER -->
			<footer>
				<div class="footer-inner">
					<div class="pull-left">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Wiradipa Nusantara</span>. <span>All rights reserved</span>
					</div>
					<div class="pull-right">
						<span class="go-top"><i class="ti-angle-up"></i></span>
					</div>
				</div>
			</footer>
			<!-- end: FOOTER -->
			
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendor/modernizr/modernizr.js"></script>
		<script src="/vendor/jquery-cookie/jquery.cookie.js"></script>
		<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="/vendor/switchery/switchery.min.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="/vendor/Chart.js/Chart.min.js"></script>
		<script src="/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
		<script src="/assets/js/highcharts.js"></script>
		<script src="/assets/js/highcharts.src.js"></script>
		<script src="/assets/js/highcharts-more.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CLIP-TWO JAVASCRIPTS -->
		<script src="/assets/js/main.js"></script>

		<%= yield(:js) %>
		<!-- end: JavaScript Event Handlers for this page -->
		<!-- end: CLIP-TWO JAVASCRIPTS -->
	</body>
</html>
